# Temporary and backup files
~$reference set & search string.xlsx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.Rproj.user
.RData
.Rhistory
.Rprofile

.ipynb_checkpoints

